{% include 'header.html' %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/cvall-logo.png" alt="">
        <span>CVall</span> -->
        <img src="static/WritingGPT_textlogo.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link " href="/index.html">Home</a></li>
          <li><a class="nav-link active" href="/ielts_writing_criteria.html">IELTS Writing Criterias</a></li>
          <li><a class="nav-link " href="/about_us.html">About Us</a></li>
          <li><a class="nav-link " href="#services">Services and Pricing</a></li>
          <li><a class="getstarted " href="#about">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <br><br>
        <header class="section-header">
          <h2>WRITING TASK 2: Band Descriptors</h2>

        </header>

        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Band</th>
                <th scope="col">Task Achievement</th>
                <th scope="col">Coherence and Cohension</th>
                <th scope="col">Lexical Resources</th>
                <th scope="col">Grammatical Range and Accuracy </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9</td>
                <td>
                  • Fully addresses all parts of the task <br>
                  • Presents a fully developed position in answer to the
                  question with relevant, fully extended and well supported
                  ideas
                </td>
                <td>
                  • Uses cohesion in such a way that it attracts no attention <br>
                  skilfully manages paragraphing
                </td>
                <td>
                  • Uses a wide range of vocabulary with very natural and
                  sophisticated control of lexical features; rare minor errors
                  occur only as slips
                </td>
                <td>
                  • Uses a wide range of structures with full flexibility and
                  accuracy; rare minor errors occur only as slips
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>
                  • Sufficiently addresses all parts of the task <br>
                  • Presents a well-developed response to the question with
                  relevant, extended and supported ideas
                </td>
                <td>
                  • Sequences information and ideas logically <br>
                  • Manages all aspects of cohesion well <br>
                  • Uses paragraphing sufficiently and appropriately
                </td>
                <td>
                  • Uses a wide range of vocabulary fluently and flexibly to
                  convey precise meanings <br>
                  • Skilfully uses uncommon lexical items but there may be
                  occasional inaccuracies in word choice and collocation <br>
                  • Produces rare errors in spelling and/or word formation
                </td>
                <td>
                  • Uses a wide range of structures <br>
                  • The majority of sentences are error-free <br>
                  • Makes only very occasional errors or inappropriacies
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  • Addresses all parts of the task <br>
                  • Presents a clear position throughout the response <br>
                  • Presents, extends and supports main ideas, but there may
                  be a tendency to over-generalise and/or supporting ideas
                  may lack focus
                </td>
                <td>
                  • Logically organises information and ideas; there is clear
                  progression throughout <br>
                  • Uses a range of cohesive devices appropriately although
                  there may be some under-/over-use <br>
                  • Presents a clear central topic within each paragraph
                </td>
                <td>
                  • Uses a sufficient range of vocabulary to allow some
                  flexibility and precision <br>
                  • Uses less common lexical items with some awareness of
                  style and collocation <br>
                  • May produce occasional errors in word choice, spelling
                  and/or word formation
                </td>
                <td>
                  • Uses a variety of complex structures <br>
                  • Produces frequent error-free sentences <br>
                  • Has good control of grammar and punctuation but may
                  make a few errors
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  • Addresses all parts of the task although some parts may be
                  more fully covered than others <br>
                  • Presents a relevant position although the conclusions may
                  become unclear or repetitive <br>
                  • Presents relevant main ideas but some may be
                  inadequately developed/unclear
                </td>
                <td>
                  • Arranges information and ideas coherently and there is a
                  clear overall progression <br>
                  • Uses cohesive devices effectively, but cohesion within
                  and/or between sentences may be faulty or mechanical <br>
                  • May not always use referencing clearly or appropriately <br>
                  • Uses paragraphing, but not always logically
                </td>
                <td>
                  • Uses an adequate range of vocabulary for the task <br>
                  • Attempts to use less common vocabulary but with some
                  inaccuracy <br>
                  • Makes some errors in spelling and/or word formation, but
                  they do not impede communication
                </td>
                <td>
                  • Uses a mix of simple and complex sentence forms <br>
                  • Makes some errors in grammar and punctuation but they
                  rarely reduce communication
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  • Addresses the task only partially; the format may be
                  inappropriate in places <br>
                  • Expresses a position but the development is not always
                  clear and there may be no conclusions drawn <br>
                  • Presents some main ideas but these are limited and not
                  sufficiently developed; there may be irrelevant detail
                </td>
                <td>
                  • Presents information with some organisation but there may
                  be a lack of overall progression <br>
                  • Makes inadequate, inaccurate or over-use of cohesive
                  devices <br>
                  • May be repetitive because of lack of referencing and
                  substitution <br>
                  • May not write in paragraphs, or paragraphing may be
                  inadequate
                </td>
                <td>
                  • Uses a limited range of vocabulary, but this is minimally
                  adequate for the task <br>
                  • May make noticeable errors in spelling and/or word
                  formation that may cause some difficulty for the reader
                </td>
                <td>
                  • Uses only a limited range of structures <br>
                  • Attempts complex sentences but these tend to be less
                  accurate than simple sentences <br>
                  • May make frequent grammatical errors and punctuation
                  may be faulty; errors can cause some difficulty for the
                  reader
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  • Responds to the task only in a minimal way or the answer is
                  tangential; the format may be inappropriate <br>
                  • Presents a position but this is unclear <br>
                  • Presents some main ideas but these are difficult to identify
                  and may be repetitive, irrelevant or not well supported
                </td>
                <td>
                  • Presents information and ideas but these are not arranged
                  coherently and there is no clear progression in the
                  response <br>
                  • Uses some basic cohesive devices but these may be
                  inaccurate or repetitive <br>
                  • May not write in paragraphs or their use may be confusing
                </td>
                <td>
                  • Uses only basic vocabulary which may be used repetitively
                  or which may be inappropriate for the task <br>
                  • Has limited control of word formation and/or spelling; errors
                  may cause strain for the reader
                </td>
                <td>
                  • Uses only a very limited range of structures with only rare
                  use of subordinate clauses <br>
                  • Some structures are accurate but errors predominate, and
                  punctuation is often faulty
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  • Does not adequately address any part of the task <br>
                  • Does not express a clear position <br>
                  • Presents few ideas, which are largely undeveloped or
                  irrelevant
                </td>
                <td>
                  • Does not organise ideas logically <br>
                  • May use a very limited range of cohesive devices, and
                  those used may not indicate a logical relationship between
                  ideas
                </td>
                <td>
                  • Uses only a very limited range of words and expressions <br>
                  with very limited control of word formation and/or spelling
                  • Errors may severely distort the message
                </td>
                <td>
                  • Attempts sentence forms but errors in grammar and
                  punctuation predominate and distort the meaning
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  • Barely responds to the task <br>
                  • Does not express a position <br>
                  • May attempt to present one or two ideas but there is no
                  development
                </td>
                <td>
                  • Has very little control of organisational features
                </td>
                <td>
                  • Uses an extremely limited range of vocabulary; essentially
                  no control of word formation and/or spelling
                </td>
                <td>
                  • Cannot use sentence forms except in memorised phrases
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>• Answer is completely unrelated to the task</td>
                <td>• Fails to communicate any message</td>
                <td>• Can only use a few isolated words </td>
                <td>• Cannot use sentence forms at all </td>

              </tr>
              <tr>
                <td>0</td>
                <td>• Does not attend <br>
                  • Does not attempt the task in any way <br>
                  • Writes a totally memorised response </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>


        </div>

      </div>

    </section><!-- End Values Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Are You Interested?</h4>
            <p>Provide your email or phone number to us, then we can contact you as soon as possible</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="static/WritingGPT_favicon.png" alt="">
              <span>WritingGPT</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
              darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              VCCI Tower, 09 Dao Duy Anh <br>
              Hanoi, HN 100000<br>
              Viet Nam <br><br>
              <strong>Phone:</strong> 0949622836<br>
              <strong>Email:</strong> contact.writinggpt@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>WritingGPT</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>